body {
    align-items: center;
    background-image: url(2-forest.jpeg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav {
    background-color: #0077b5;
    padding: 20px;
    text-align: center;

}

.topnav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.topnav a:hover {
    color: #0077b5;
}

.home {
    height: 400px;
    text-align: center;
}

.home .title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
}
.home .slogan {
    margin-top: 0px;
    padding-top: 10px;
    
}

.about {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    
}

.about .title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
    font-weight: bold;
}
.about .description {
    margin-top: 0px;
    padding-top: 10px;
    
}
